@font-face{
    font-family: Scriptina;
    src: url(../fonts/SCRIPTIN.ttf);
}
@font-face {
    font-family: ProximaNova;
    src: url("../fonts/Proxima Nova Regular.otf");
}
*{
    box-sizing: border-box;
}

body{
    min-width: 1260px;
    font:14px ProximaNova, sans-serif;
    color:#56534c;
    letter-spacing:0.1em;
    line-height: 24px;
}
.wrapper{
    width:1260px;
    margin:0 auto;
}

.relative{
    position: relative;
}

h2{
    font:bold 50px 'Alegreya', serif;
    color:#56534c;
}
h3{
    font:bold 16px 'Alegreya', serif;
    color:#a47d5e;
    text-transform: uppercase;
}

/* first-block begin */

.first-block{
    height: 900px;
    background: url("../images/bg-1.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
}

/*header begin*/
header{
    background-color:rgba(86, 83, 76, 0.5);
    letter-spacing:0.3em;
    height: 70px;
    padding-top: 30px;
}

header a{
    color: #ffffff;
}

.logo{
    font:30px Scriptina;
    margin-right:60px;
    line-height: 0;
}

header nav{
    display: inline-block;
    font: 14px 'Alegreya', serif;
    text-transform: uppercase;
}
header nav a{
    margin: auto 40px;
    border: 2px solid transparent;
}

header nav a:hover, .social a:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.social{
    float:right;
}

.social a{
    margin-left: 30px;
}

/*header end*/

h1{
    font-family: 'Playfair Display', serif;
    font-size: 92px;
    margin-top: 210px;
    text-align: center;
    letter-spacing:0.075em;
    text-shadow: 0 1px 0 rgba(61, 48, 41, 1);
}
.dashed-line{
    margin-top: 40px;
    text-align: center;
}

.first-block p{
    margin-top: 55px;
    font: 24px ProximaNova;
    text-align: center;
    letter-spacing:0.1em;
}
.our-menu{
    margin: 60px auto;
    width: 200px;
    height: 50px;
    background-color:rgba(86, 83, 76, 0.5);
    border: 1px dashed #9e9c93;
    font: bold 14px 'Alegreya', serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing:0.3em;
    text-align: center;
}

main{
    background-color: #fff;
}

.block {
    height: 760px;
}

.border-bullets {
    width: 106px;
    height: 106px;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, 50%);

}
/* first-block end */

/* second-block begin*/
.second-block{
    background: url("../images/bg-2.png") repeat;
    border-top: 10px solid #fff;
    padding-top: 80px;
}

/*second-block-left*/
.second-block-left{
    width: 630px;
    padding-left:73px;
    padding-right:73px;
    text-align: center;
    margin-top: 0;
    float: left;
}

.content-2-block{
    margin-top: 65px;
}
.chef-cook{
    font:bold 24px 'Alegreya', serif;
    letter-spacing: 0.025em;
    margin: 40px auto;
}
.avatar{
    margin: 10px auto;
}
.avatar > div{
    display: inline-block;
    vertical-align: middle;
}
.avatar-text{
    width:110px;
    height:60px;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
    font: 24px 'Alegreya', serif;
    letter-spacing: 0.025em;
    line-height: 60px;
}
.avatar-img{
    width: 100px;
    height: 100px;
    background-image: url("../images/avatar.jpg");
    background-size:cover;
    border: 5px solid #fff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin: 0 25px;
}
.quote{
    margin: 0 37px;
    padding: 25px 0;
    font: 24px Scriptina;
    color:#a47d5e;
    letter-spacing: 0.025em;
    position: relative;
    line-height: 30px;
}

.open-quote, .close-quote{
    font: 60px Times New Roman;
    color:#56534c;
    opacity: 0.5;
}
.open-quote{
    position:absolute;
    top:0;
    left:0;
}
.close-quote{
    transform: scale(-1, 1) translateY(50%);
    position:absolute;
    bottom: 0;
    right: 0;
}

/*second-block-right*/
.second-block-right {
    display: inline-block;
    border: 0 solid #000;
}
.second-block-right-wrapper{
    margin-top: 30px;
    margin-left: 10px;
    width: 620px;
    height: 520px;
    position: relative;
}

.art-top-left, .art-top-right, .art-bottom-right, .art-bottom-left{
    width:295px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}
.art-top-left{
    background-image: url("../images/art-top-left.jpg");
    margin-right: 20px;
    margin-bottom: 20px;
}
.art-top-right{
    background-image: url("../images/art-top-right.jpg");
    margin-bottom: 20px;
}
.art-bottom-right{
    background-image: url("../images/art-bottom-right.jpg");
}
.art-bottom-left{
    background-image: url("../images/art-bottom-left.jpg");
    margin-right: 20px;
}

.art-top-left:after, .art-top-right:after, .art-bottom-right:after, .art-bottom-left:after{
    content:' ';
    width: 283px;
    height: 238px;
    background: transparent;
    border: 5px solid #fff;
    position: absolute;
    top:6px;
    left: 6px;
    box-sizing: border-box;
}

.art-slogan {
    width: 282px;
    height: 282px;
    padding-bottom: 25px;
    background: url("../images/tastes_so_good.png") no-repeat;
    background-size: cover;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-51%, -45%);
    display: table;
}

.art-slogan > div{
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    font: 30px 'Alegreya', serif;
    text-transform: uppercase;
    color: #c9b176;
    letter-spacing:0.05em;
    text-align: center;
}
/*second-block end*/

/*third-block begin*/
.third-block{
    background: url("../images/bg-3.jpg") no-repeat;
    background-size: cover;
    padding-top: 140px;
    -webkit-box-shadow: inset 0 8px 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    inset 0 8px 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow:         inset 0 8px 9px 0 rgba(0, 0, 0, 0.1);
}


/*third-block end*/

/*fourth-block begin*/
.fourth-block{
    padding-top: 140px;
    background: url("../images/bg-4.jpg") no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0 8px 9px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    inset 0 8px 9px 0 rgba(0, 0, 0, 0.3);
    box-shadow:         inset 0 8px 9px 0 rgba(0, 0, 0, 0.3);
}

.container-third-block{
    width: 965px;
    height: 513px;
    background: #fff;
    -webkit-box-shadow: 0 25px 30px 0 rgba(105, 80, 58, 0.45);
    -moz-box-shadow:    0 25px 30px 0 rgba(105, 80, 58, 0.45);
    box-shadow:         0 25px 30px 0 rgba(105, 80, 58, 0.45);
    position: relative;
}

/*  блок перекрывающий нижний левый угол - при его использовании картинка пропадает
.container-third-block:before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #333 transparent
     transparent;
}
*/

.third-block-left{
    float: left;
    width: 420px;
    height: inherit;
    background: url("../images/3-blok-left.jpg") no-repeat;
    background-size: cover;
}

.third-block-right{
    width: 545px;
    height: inherit;
    margin-left: 420px;
    padding: 80px 70px 40px 60px;
    background-image: url("../images/3-block-bg-right.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.content-3-block{
    margin-top: 70px;
}

/*fourth-block end*/




